<!DOCTYPE html>
<html>
<%- include partials/header.ejs %>

<body>
  <div class=" text-center center-block">
    <h1>
      Demo MySQL and Node-Express
    </h1>
    <h3>
      <%= message %>
    </h3>
    <div class="row">
      <div class="col-2"></div>

      <div class="col-8 text-center">
        <br>
        <% if (table) { %>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">User</th>
              <th scope="col">URL</th>
              <th scope="col">Repo</th>
              <th scope="col">Info</th>
            </tr>
          </thead>
          <tbody>
            <% if (users.length) { %>
            <% for (var key in users) { %>
            <tr>
              <td>
                <%= users[key].user %>
              </td>
              <td>
                <a href="<%= users[key].url %>">
                  <%= users[key].url %></a>
              </td>
              <td>
                <a href="<%= users[key].repo %>">
                  <%= users[key].repo %></a>
              </td>

              <td>
                <%= users[key].info %>&nbsp; #
                <%= users[key].id %>
              </td>
            </tr>
            <% } %>
            <% }   %>
          </tbody>
          <tfoot>
            <form action="/insert_new" method="post">



              <td>
                <div class="input-group ">
                  <input type="text" class="form-control" name="name" placeholder="Name">
                </div>
              </td>
              <td>
                <div class="input-group ">
                  <input type="text" class="form-control" name="url" placeholder="Name">
                </div>
              </td>
              <td>
                <div class="input-group ">
                  <input type="text" class="form-control" name="repo" placeholder="Name">
                </div>
              </td>
              <td>
                <div class="input-group te">
                  <button type="submit" class="btn btn-primary btn-lg ">Insert User</button>
                </div>
              </td>
            </form>
          </tfoot>
        </table>
        <% } else  { %>
        <h3>No users</h3>
        <% } %>
        <% if (database==0) { %>
        <form action="/create_database" method="post">
          <br>
          <div class="input-group ">
            <button type="submit" class="btn btn-primary btn-lg ">Create Database</button>
          </div>
        </form>
        <% } else {  %>
        <% if (!table) { %>
        <form action="/create_table" method="post">
          <br>
          <div class="input-group ">
            <button type="submit" class="btn btn-primary btn-lg ">Create Table</button>
          </div>
        </form>
        <% } else {  %>
        <form action="/insert" method="post">
          <br>
          <div class="input-group ">
            <button type="submit" class="btn btn-primary btn-lg ">Insert Author</button>
          </div>
        </form>
        <% }   %>
        <form action="/delete_database" method="post">
          <br>
          <div class="input-group ">
            <button type="submit" class="btn btn-primary btn-lg ">Delete Database</button>
          </div>
        </form>
        <% }   %>

      </div>

    </div>
  </div>

</body>
<%- include partials/footer.ejs %>

</html>